body{background:#fff;font-family:Helvetica;color:#444;}
#main{background:url("tl_bg.jpg");background-repeat:no-repeat;min-height: 600px;}
#main .top_container{margin-left:300px;color:#4268f4;}
#main .tasks_wording{margin:30px 50px; line-height:36px;height;font-size:18px;}
#main .tasks_wording .before li{list-style-image:url("Cyprus.png");}
#main .tasks_wording .after li{list-style-image:url("tdone.png");}
#main .task_input{margin:100px 500px;}
#main .task_input .text_input{outline:none; font-size:12px;border-radius:4px;border-style:solid 2px;}
